#backToTop {
    border: solid 3px #007acc; /* Darker Sky Blue border */
    height: 50px;
    width: 150px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    left: 20px; /* Distance from the left */
    padding: 10px 20px;
    border-radius: 15px; /* Rounded corners */
    background: linear-gradient(135deg, #007acc, #005fa3); /* Gradient background */
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    z-index: 1000; /* Ensure button is above other content */
    display: none; /* Initially hidden */
}

#backToTop:hover {
    background-color: #005fa3; /* Darker gradient background on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}
